@use "sass:map";
@import "_theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');


html,
body {
    margin: 0;
}

* {
    max-width: 100%;
    font-family: 'Alumni Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col {
    flex: 1;
    text-align: center;
}

