@use "sass:map";
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Alumni Sans", sans-serif;
}

.container {
    width: 100%;
    background-color: #F5F1EB;
}

.row {
    display: flex;
    flex-wrap: wrap;
}