.unisexCardSlider-container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;

    .swiper-slide {
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        text-align: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        color: #3E2723;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50%;

        &:hover {
            background: #FFE0B2;
            color: #3E2723;
        }

        &::after {
            font-size: 25px;
            font-weight: bolder;
            margin: 0;
        }
    }
}