@use "sass:map";
@import "../../styles/pages/all";

.container {
    main {
        padding: 20px;

        .test {
            width: 100px;
            height: auto;
        }

        h1 {
            font-size: 40px;
            padding-top: 10px;
            margin-bottom: 10px;
        }

        hr {
            width: 820px;
            height: 2px;
            background-color: #8D6E63;
            border-width: 0;
            margin: auto;
        }

        .sliderStyle {
            width: 800px;
            height: 480px;
            margin: 0 auto;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }

        .famous-brand {
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
            display: grid;
            gap: 15px;

            img {
                height: 150px;
                width: 150px;
                padding: 0;
                display: inline-block;
                border: solid #3E2723;
                border-radius: 5%;
                border-width: thin;
            }

            .first-brand-list,
            .second-brand-list {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                gap: 15px;
                margin: 0 auto;
                padding: 0;
            }
        }

        .Flash-Sale {
            display: table;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 0;

            &::before,
            &::after {
                display: inline-block;
                content: "";
                border-top: 4px solid red;
                width: 70px;
                margin: 0 15px;
                transform: translateY(-10px);
            }

            a {
                text-decoration: none;
                color: red;
            }

            span {
                text-align: center;
                font-size: 40px;
                font-weight: bolder;
            }
        }

        .famous-product {
            margin-top: 50px;
            text-align: center;

            .famous-product-type {
                button {
                    font-size: 40px;
                    margin: 0 10px;
                    margin-bottom: 10px;
                    border-width: 0;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        opacity: 50%;
                    }
                }

                .active {
                    border-bottom: 3px solid #000;
                    /* Gạch chân cho button đang active */
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
}