.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  border: none;
  background-color: #eee;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.page-number.active {
  background-color: #333;
  color: #fff;
}
