@use "sass:map";
@import "../../styles/style.scss";

.cart-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;

    .product-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .product-details {
        flex: 1;
        margin-left: 15px;
        font-size: 25px;

        h4 {
            margin: 0;
        }

        p {
            margin: 5px 0;
        }

        .quantity-controls {
            display: flex;
            align-items: center;

            button {
                background-color: #D4A373;
                color: #fff;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: 4px;
                font-size: 20px;

                &:hover {
                    background-color: darken(#D4A373, 10%);
                }
            }

            span {
                margin: 0 10px;
            }
        }
    }

    .remove-btn {
        font-size: 20px;
        background-color: #FFE0B2;
        color: #8D6E63;
        border: 1px solid #8D6E63;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: darken(#FFE0B2, 10%);
        }
    }
}

.sale-code {
    margin-top: 20px;

    p {
        font-size: 20px;
    }

    input[type="text"] {
        width: 250px;
        padding: 10px 0;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #4e3b28;
        border-radius: 4px;
        background-color: #FFF3E0;
        font-size: 20px;

        &:focus {
            background-color: darken(#FFF3E0, 5%);
        }
    }

    button {
        width: 100px;
        padding: 10px 0;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 5px;
        border: 1px solid #4e3b28;
        border-radius: 4px;
        background-color: #FFF3E0;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background-color: darken(#FFF3E0, 10%);
        }
    }
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
    font-size: 25px;

    .checkout-btn {
        background-color: #D4A373;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: darken(#D4A373, 10%);
        }
    }

    .total {
        margin-top: 10px;
    }
}