.rating {
    display: flex;
    align-items: center;
    gap: 8px;
  
    .star {
      font-size: 36px;
      color: #ccc; // Màu mặc định cho sao chưa chọn
  
      &.filled {
        color: #ffc107; // Màu vàng cho sao đã đánh giá
      }
    }
  
    .review-text {
      font-size: 32px;
      color: #333;
    }
}
  